<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worktime.dao.EmployeeMapper">
    <select id="getEmployeeByNW" resultType="int">
        select
        count(1)
        from employee
        <where>
            <if test="password != null  and password != ''" >
                and passWord = #{password,jdbcType=VARCHAR}
            </if>
            <if test="worknumber != null  and worknumber != ''" >
                and workNumber = #{worknumber,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="getEmployeeList" resultType="Employee">
        select
        ID,passWord,power,workNumber
        from employee order by ID
    </select>
    <insert id="addEmployee" parameterType="Employee">
        insert into employee (PassWord,power,WorkNumber)
        values (
                   #{passWord,jdbcType=VARCHAR},
                   #{power,jdbcType=INTEGER},
                   #{workNumber,jdbcType=VARCHAR}
               )
    </insert>
    <update id="updateEmployee" parameterType="Employee">
        update employee
        <set >
            <if test="passWord != null  and passWord != ''" >
                PassWord = #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="power != null " >
                power = #{power,jdbcType=INTEGER},
            </if>
            <if test="workNumber != null  and workNumber != ''" >
                WorkNumber = #{workNumber,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <select id="getEmployeeById" parameterType="INTEGER"
            resultType="Employee">
        select
            ID,passWord,power,workNumber
        from employee
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delEmployee" parameterType="INTEGER">
        delete from employee
        where ID = #{id,jdbcType=INTEGER}
    </delete>
</mapper>
